all{
  display: block;
  width: 1200px;
  height: 2200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}
  
h1{
  font-family: 'Abril Fatface', cursive;
  
}
p{
 font-family: 'Josefin Sans', sans-serif;
}
ul{
font-family: 'Josefin Sans', sans-serif;   
}
h2{
 font-family: 'Josefin Sans', sans-serif;
} 
h3{
 font-family: 'Josefin Sans', sans-serif; 
}
h4{
  font-family: 'Merriweather', serif;
}
header{
  width: 1500px;
  height:604x;
  display: flex;
  align-items: center;
  position: relative;
  background-image: url("https://raw.githubusercontent.com/green-fox-academy/myfirstapp-syllabus/master/assets/first-website-header.png");
   background-repeat: no-repeat;
  background-size: contain;
    background-position: center;
}
}

img{
  width: 1200px;
    border: solid black 4px;
  position: relative;
  
}
.fontcolor{
  color: white;
  background-color: #4d4d4d;
  font-size: 70px;
}
.headerone{
  width: 500px;
  height: 100px;
  
}
.tree{
  width: 1000px;
  height: 604px;
  position: relative;
}